.mainheader .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gameboard {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 630px;
    height: 630px;
    margin: auto;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0px 0px 0px;
}